/* ---------- General ----------------- */
body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #b35900;
}

a:hover {
  color: #251667;
}

.text-primary {
  color: #b35900 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

aside {
  float: right;
  margin-right: -80px;
  width: 80px;
  color: red;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 45px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}




/* ---------- Table of content on the left----------------- */
#myScrollspy ul.nav-pills {
    top: 40%;
    position: fixed;
    color: black !important;
}

#myScrollspy .nav-link {
  color: grey;
}

#myScrollspy .nav-link.active {
  color: black;
  border-left: solid;
  border-color: #69b3a2;
  background-color: transparent;
  border-radius: 0px;
}

#myScrollspy .nav-link:hover {
  color: black;
}

@media (max-width: 1400px) {
  #myScrollspy {
    display: none;
  }
}



/* ---------- Code in research result ----------------- */
.codeResearch {
  background-color: #f5f2f0;
  font-size: 15px;
  padding: 1em;
  margin-top: 15px;
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
}






/* ---------- Menu separation title ----------------- */

.menuTitle {
  color: #888888;
  font-size: 13px;
  text-transform: lowercase;
  text-align: right;
  margin-bottom: 0px;
  margin-top: 16px;
  margin-right: 10px;
  line-height: 0.6;
}




/* ---------- Read more tag ----------------- */

#summary p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#summary p.collapsing {
    min-height: 42px !important;
}
#summary a.collapsed:after  {
    content: '+ Read More';
}




/* ---------- Welcome page: Losange icon turn grey on hover: ----------------- */

.grey_on_hover{
  transition: filter .3s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
.grey_on_hover:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}



/* ---------- SELECTION OF BLOCKS ----------------- */
.showBlock {
  border: solid;
  border-color: #E8E8E8;
  border-width: 1px;
  border-radius: 5px;
}



/* ---------- Menu graph types part ----------------- */
.imageOfMenu {
  opacity: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border: solid;
  border-color: black;
  border-width: 4px;
  width: 90px;
}
.imageOfMenu:hover {
  opacity: 1;
  border: none;
}


/* ---------- Button ----------------- */
.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: transparent;
  border-color: #b35900;
  color: #b35900;
  border-width: medium;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #b35900 !important;
  border-color: #b35900 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.btn-secondary {
  background-color: transparent;
  border-color: #b35900;
  color: #b35900;
  border-width: thin;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #b35900 !important;
  border-color: #b35900 !important;
  color: white;
}

.btn-secondary:active, .btn-secondary:focus {
  background-color: #b35900 !important;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #b35900 !important;
  border-color: #b35900 !important;
  color: white;
}








/* ---------- Menu ----------------- */

::-moz-selection {
  background: #b35900;
  text-shadow: none;
}

::selection {
  background: #b35900;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: white !important;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #b35900;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Color of brand on the top left */
#mainNav .navbar-brand {
  color: #b35900;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #251667;
}

/* Color of the TEXT of the menu top right*/
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: black;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #b35900;
  background-color: white;
  border-bottom: 5px solid #b35900;
}


@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

.masthead {
  text-align: center;
  color: black;
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 80px;
}




/* ---------- Short HR used under titles sometimes ----------------- */
.short_hr {
  width: 100px;
  height: 1px;
  border:none;
  color:#333;
  background-color:#333;
}

/* ---------- Parallax if needed ----------------- */

.parallax {
    /* The image used (faded with convert overview_RGG.png  -fill white -colorize 50%  overview_RGG_faded.png*/
    background-image: url("../img/area_bitcoin_fadded.png");

    /* Set a specific height */
    min-height: 100px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}








/* ---------- Landing page top ----------------- */


header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 150px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 14px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 16px;
    font-style: italic;
    color: grey;
    line-height: 40px;
    margin-bottom: 25px;
    margin-right: 20%;
    margin-left: 20%;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.service-heading {
  margin: 15px 0;
}











/* -------------------- ID PORTOFOLIO = For graph pages ------------------ */

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 2%;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
  opacity: 0;
  background: rgba(88, 170, 151, 0.7);
  border-radius: 2%;
  background-color: #b35900 !important;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 0.8;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 22px;
  position: absolute;
  top: 20%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: transparent;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

#portfolio .explanation_portfolio{
  font-size: 17px;
  margin: 20px;
}








/* -------------------- ID portfolio_landing = For the landing page ------------------ */


#portfolio_landing .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio_landing .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 130px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio_landing .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
  border-radius: 100%;
  background-color: grey !important;
}

#portfolio_landing .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 0.8;
}

#portfolio_landing .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio_landing .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio_landing .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio_landing .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio_landing .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: transparent;
}

#portfolio_landing .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio_landing .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio_landing * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio_landing .portfolio-item {
    margin: 0 0 30px;
  }
}





/* -------------------- GENERAL ------------------ */
/* Colors: distribution:  #e0ac2b / correlation: #7f7f7f / ranking : #a4c969 / part of a whole: #e85252 / evolution: #6689c6 / map: #9a6fb0 / flow: #a53253 */

.mySeryTitle {
  font-size: 20px;
  text-transform: uppercase;
}

.grpdependant.distribution {
  color: #e0ac2b;
}
.grpdependant.correlation {
  color: #7f7f7f;
}
.grpdependant.ranking {
  color: #a4c969;
}
.grpdependant.partofawhole {
  color: #e85252;
}
.grpdependant.evolution {
  color: #6689c6;
}
.grpdependant.map {
  color: #9a6fb0;
}
.grpdependant.flow {
  color: #a53253;
}



















/* -------------------- TOOLTIP ------------------ */

.data-tooltip{
  color: black;
  background-color: white;
  background: white;
  align-content: center;
  margin-right: 10%;
  margin-left: 10%;
}

.tooltip.show {
    opacity: 1;
    background-color: white;
    border: green;
}









/* ---------- Probably useless ----------------- */


footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}












/* ------------------------------------------------------------------------------------------------------------------- */
/* Customize the gallery of the portfolio section
/* ------------------------------------------------------------------------------------------------------------------- */

.captionPortfolio {
  font-size: 12px;
  padding: 8px;
  margin: 0px;
  text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
    display: none; /* Hide all elements by default */
}

    /* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* ------------------------------------------------------------------------------------------------------------------- */
